# Node Configuration
PORT=4001
ENABLE_WEBRTC=true

# Application Identity (Hex Ed25519 Private Key)
# If omitted, a new key pair will be generated on startup
# PRIVATE_KEY=302e020100300506032b657004220420...

# Bootstrap Nodes (comma-separated list of multiaddrs)
# BOOTSTRAP_PEERS=/ip4/127.0.0.1/tcp/4001/p2p/12D3KooW...
BOOTSTRAP_PEERS=
